config.local.ini
vendor
vendor/composer/installed.json
vendor/composer/autoload_classmap.php
vendor/composer/autoload_files.php
vendor/composer/autoload_namespaces.php
vendor/composer/autoload_psr4.php
vendor/composer/autoload_static.php
vendor/mikey179/vfsstream/CHANGELOG.md
vendor/mikey179/vfsstream/composer.json
vendor/mikey179/vfsstream/phpunit.xml.dist
vendor/mikey179/vfsstream/src/main/php/org/bovigo/vfs/DotDirectory.php
vendor/mikey179/vfsstream/src/main/php/org/bovigo/vfs/Quota.php
vendor/mikey179/vfsstream/src/main/php/org/bovigo/vfs/vfsStream.php
vendor/mikey179/vfsstream/src/main/php/org/bovigo/vfs/vfsStreamAbstractContent.php
vendor/mikey179/vfsstream/src/main/php/org/bovigo/vfs/vfsStreamBlock.php
vendor/mikey179/vfsstream/src/main/php/org/bovigo/vfs/vfsStreamContainer.php
vendor/mikey179/vfsstream/src/main/php/org/bovigo/vfs/vfsStreamContainerIterator.php
vendor/mikey179/vfsstream/src/main/php/org/bovigo/vfs/vfsStreamContent.php
vendor/mikey179/vfsstream/src/main/php/org/bovigo/vfs/vfsStreamDirectory.php
vendor/mikey179/vfsstream/src/main/php/org/bovigo/vfs/vfsStreamException.php
vendor/mikey179/vfsstream/src/main/php/org/bovigo/vfs/vfsStreamFile.php
vendor/mikey179/vfsstream/src/main/php/org/bovigo/vfs/vfsStreamWrapper.php
vendor/mikey179/vfsstream/src/main/php/org/bovigo/vfs/content/FileContent.php
vendor/mikey179/vfsstream/src/main/php/org/bovigo/vfs/content/LargeFileContent.php
vendor/mikey179/vfsstream/src/main/php/org/bovigo/vfs/content/SeekableFileContent.php
vendor/mikey179/vfsstream/src/main/php/org/bovigo/vfs/content/StringBasedFileContent.php
vendor/mikey179/vfsstream/src/main/php/org/bovigo/vfs/visitor/vfsStreamAbstractVisitor.php
vendor/mikey179/vfsstream/src/main/php/org/bovigo/vfs/visitor/vfsStreamPrintVisitor.php
vendor/mikey179/vfsstream/src/main/php/org/bovigo/vfs/visitor/vfsStreamStructureVisitor.php
vendor/mikey179/vfsstream/src/main/php/org/bovigo/vfs/visitor/vfsStreamVisitor.php
vendor/mikey179/vfsstream/src/test/php/org/bovigo/vfs/DirectoryIterationTestCase.php
vendor/mikey179/vfsstream/src/test/php/org/bovigo/vfs/FilenameTestCase.php
vendor/mikey179/vfsstream/src/test/php/org/bovigo/vfs/Issue104TestCase.php
vendor/mikey179/vfsstream/src/test/php/org/bovigo/vfs/PermissionsTestCase.php
vendor/mikey179/vfsstream/src/test/php/org/bovigo/vfs/QuotaTestCase.php
vendor/mikey179/vfsstream/src/test/php/org/bovigo/vfs/UnlinkTestCase.php
vendor/mikey179/vfsstream/src/test/php/org/bovigo/vfs/vfsStreamAbstractContentTestCase.php
vendor/mikey179/vfsstream/src/test/php/org/bovigo/vfs/vfsStreamBlockTestCase.php
vendor/mikey179/vfsstream/src/test/php/org/bovigo/vfs/vfsStreamContainerIteratorTestCase.php
vendor/mikey179/vfsstream/src/test/php/org/bovigo/vfs/vfsStreamDirectoryIssue18TestCase.php
vendor/mikey179/vfsstream/src/test/php/org/bovigo/vfs/vfsStreamDirectoryIssue134TestCase.php
vendor/mikey179/vfsstream/src/test/php/org/bovigo/vfs/vfsStreamDirectoryTestCase.php
vendor/mikey179/vfsstream/src/test/php/org/bovigo/vfs/vfsStreamExLockTestCase.php
vendor/mikey179/vfsstream/src/test/php/org/bovigo/vfs/vfsStreamFileTestCase.php
vendor/mikey179/vfsstream/src/test/php/org/bovigo/vfs/vfsStreamGlobTestCase.php
vendor/mikey179/vfsstream/src/test/php/org/bovigo/vfs/vfsStreamResolveIncludePathTestCase.php
vendor/mikey179/vfsstream/src/test/php/org/bovigo/vfs/vfsStreamTestCase.php
vendor/mikey179/vfsstream/src/test/php/org/bovigo/vfs/vfsStreamUmaskTestCase.php
vendor/mikey179/vfsstream/src/test/php/org/bovigo/vfs/vfsStreamWrapperAlreadyRegisteredTestCase.php
vendor/mikey179/vfsstream/src/test/php/org/bovigo/vfs/vfsStreamWrapperBaseTestCase.php
vendor/mikey179/vfsstream/src/test/php/org/bovigo/vfs/vfsStreamWrapperDirSeparatorTestCase.php
vendor/mikey179/vfsstream/src/test/php/org/bovigo/vfs/vfsStreamWrapperDirTestCase.php
vendor/mikey179/vfsstream/src/test/php/org/bovigo/vfs/vfsStreamWrapperFileTestCase.php
vendor/mikey179/vfsstream/src/test/php/org/bovigo/vfs/vfsStreamWrapperFileTimesTestCase.php
vendor/mikey179/vfsstream/src/test/php/org/bovigo/vfs/vfsStreamWrapperFlockTestCase.php
vendor/mikey179/vfsstream/src/test/php/org/bovigo/vfs/vfsStreamWrapperLargeFileTestCase.php
vendor/mikey179/vfsstream/src/test/php/org/bovigo/vfs/vfsStreamWrapperQuotaTestCase.php
vendor/mikey179/vfsstream/src/test/php/org/bovigo/vfs/vfsStreamWrapperSetOptionTestCase.php
vendor/mikey179/vfsstream/src/test/php/org/bovigo/vfs/vfsStreamWrapperStreamSelectTestCase.php
vendor/mikey179/vfsstream/src/test/php/org/bovigo/vfs/vfsStreamWrapperTestCase.php
vendor/mikey179/vfsstream/src/test/php/org/bovigo/vfs/vfsStreamWrapperUnregisterTestCase.php
vendor/mikey179/vfsstream/src/test/php/org/bovigo/vfs/vfsStreamWrapperWithoutRootTestCase.php
vendor/mikey179/vfsstream/src/test/php/org/bovigo/vfs/vfsStreamZipTestCase.php
vendor/mikey179/vfsstream/src/test/php/org/bovigo/vfs/content/LargeFileContentTestCase.php
vendor/mikey179/vfsstream/src/test/php/org/bovigo/vfs/content/StringBasedFileContentTestCase.php
vendor/mikey179/vfsstream/src/test/php/org/bovigo/vfs/proxy/vfsStreamWrapperRecordingProxy.php
vendor/mikey179/vfsstream/src/test/php/org/bovigo/vfs/visitor/vfsStreamAbstractVisitorTestCase.php
vendor/mikey179/vfsstream/src/test/php/org/bovigo/vfs/visitor/vfsStreamPrintVisitorTestCase.php
vendor/mikey179/vfsstream/src/test/php/org/bovigo/vfs/visitor/vfsStreamStructureVisitorTestCase.php
vendor/mikey179/vfsstream/src/test/phpt/bug71287.phpt
vendor/mikey179/vfsstream/src/test/resources/filesystemcopy/emptyFolder/.gitignore
vendor/mikey179/vfsstream/src/test/resources/filesystemcopy/withSubfolders/aFile.txt
vendor/mikey179/vfsstream/src/test/resources/filesystemcopy/withSubfolders/subfolder1/file1.txt
vendor/mikey179/vfsstream/src/test/resources/filesystemcopy/withSubfolders/subfolder2/.gitignore
vendor/myclabs/deep-copy/.gitattributes
vendor/phpdocumentor/reflection-docblock/README.md
vendor/phpdocumentor/reflection-docblock/src/DocBlock.php
vendor/phpdocumentor/reflection-docblock/src/DocBlockFactory.php
vendor/phpdocumentor/reflection-docblock/src/DocBlockFactoryInterface.php
vendor/phpdocumentor/reflection-docblock/src/DocBlock/Description.php
vendor/phpdocumentor/reflection-docblock/src/DocBlock/DescriptionFactory.php
vendor/phpdocumentor/reflection-docblock/src/DocBlock/ExampleFinder.php
vendor/phpdocumentor/reflection-docblock/src/DocBlock/Serializer.php
vendor/phpdocumentor/reflection-docblock/src/DocBlock/StandardTagFactory.php
vendor/phpdocumentor/reflection-docblock/src/DocBlock/Tag.php
vendor/phpdocumentor/reflection-docblock/src/DocBlock/TagFactory.php
vendor/phpdocumentor/reflection-docblock/src/DocBlock/Tags/Author.php
vendor/phpdocumentor/reflection-docblock/src/DocBlock/Tags/Covers.php
vendor/phpdocumentor/reflection-docblock/src/DocBlock/Tags/Deprecated.php
vendor/phpdocumentor/reflection-docblock/src/DocBlock/Tags/Example.php
vendor/phpdocumentor/reflection-docblock/src/DocBlock/Tags/Link.php
vendor/phpdocumentor/reflection-docblock/src/DocBlock/Tags/Method.php
vendor/phpdocumentor/reflection-docblock/src/DocBlock/Tags/Param.php
vendor/phpdocumentor/reflection-docblock/src/DocBlock/Tags/Property.php
vendor/phpdocumentor/reflection-docblock/src/DocBlock/Tags/PropertyRead.php
vendor/phpdocumentor/reflection-docblock/src/DocBlock/Tags/PropertyWrite.php
vendor/phpdocumentor/reflection-docblock/src/DocBlock/Tags/Return_.php
vendor/phpdocumentor/reflection-docblock/src/DocBlock/Tags/See.php
vendor/phpdocumentor/reflection-docblock/src/DocBlock/Tags/Since.php
vendor/phpdocumentor/reflection-docblock/src/DocBlock/Tags/Source.php
vendor/phpdocumentor/reflection-docblock/src/DocBlock/Tags/Throws.php
vendor/phpdocumentor/reflection-docblock/src/DocBlock/Tags/Uses.php
vendor/phpdocumentor/reflection-docblock/src/DocBlock/Tags/Var_.php
vendor/phpdocumentor/reflection-docblock/src/DocBlock/Tags/Version.php
vendor/phpdocumentor/reflection-docblock/src/DocBlock/Tags/Factory/StaticMethod.php
vendor/phpdocumentor/type-resolver/composer.json
vendor/phpdocumentor/type-resolver/src/TypeResolver.php
vendor/phpdocumentor/type-resolver/src/Types/Compound.php
vendor/phpdocumentor/type-resolver/src/Types/Context.php
vendor/phpdocumentor/type-resolver/src/Types/ContextFactory.php
vendor/phpspec/prophecy/CHANGES.md
vendor/phpspec/prophecy/src/Prophecy/PhpDocumentor/ClassTagRetriever.php
vendor/phpunit/phpunit/.travis.yml
vendor/phpunit/phpunit/phive.xml
vendor/phpunit/phpunit/README.md
vendor/phpunit/phpunit/.psalm/baseline.xml
vendor/phpunit/phpunit/src/Framework/MockObject/Generator.php
vendor/phpunit/phpunit/src/Util/Configuration.php
vendor/phpunit/phpunit/src/Util/Printer.php
vendor/phpunit/phpunit/src/Util/Test.php
vendor/phpunit/phpunit/src/Util/Xml.php
vendor/phpunit/phpunit/tests/unit/Framework/AssertTest.php
vendor/symfony/polyfill-ctype/composer.json
vendor/webmozart/assert/CHANGELOG.md
vendor/webmozart/assert/README.md
vendor/webmozart/assert/src/Assert.php
